.loginwrap{
    overflow: hidden;
}

.w-20{
    width: 20%;
}



@media screen and (width < 991px){
    .img-fluid{
        width: 75%;
    }

    .loginwrap{
        height: 100vh;
        overflow: auto;
    }
}
